<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cart Deliveroo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
</head>
<body>
    <div class="cart1">
        <img src="img/repas.png" alt="produits alimentaire auchan">
        <div class="cart-body">
            <h3 class="title">Deliveroo HOP avec Auchan</h3>
            <p class="description"><span>4.6 Excellent</span> (500+) 1.1 km</p>
        </div>
    </div>
    
    <div class="cart2">
        <img src="img/collaboration.jpg" alt="collaboration">
        <div class="cart-body">
            <h3 class="title">Collaborez avec nous</h3>
            <p class="description">Rejoignez Deliveroo et touchez une clientèle toujours plus nombreuse. Votre livraison est entre de bonnes mains.</p>
            <button type="button">Démarrer</button>
        </div>
    </div>

    </div>
</body>
</html>